.contacts {
  font-size: rem(21px);
  font-weight: 400;
  color: $black;

  @include phones {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.phone__footer-contacts {
  fill: #000;
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(12px);
}

