.preview {
  background: url("../img/bg-preview.png") center no-repeat;
  background-size: cover;
  background-color: $blue;
  height: 100vh;
  min-height: rem(652px);
  color: #fff;

  @include tablets {
    background-position: right -30px top 30px;   
  }

}

.preview__title-section {
  width: 46%;

  @include tablets {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    br {
      display: none;
    }
  }
}

.preview__icons-section {
  @include tablets {
    display: none;
  }
}

.preview__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(28px) 0 rem(61px) 0;

  @include tablets {
    position: static; 
  }
}

.preview__main-title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: rem(17px);
  text-transform: uppercase;
  
  @include tablets {
    padding: 0 3%;
  }

  @include phones {
    padding: 0;
  }
}

.preview__title-desc {
  font-size: rem(21px);
  margin-bottom: 2rem;
}

.design, .materials, .delivery {
  fill: #fff;
  width: rem(41px);
  height: rem(41px);
}




