.section {
  height: 100vh;
  min-height: rem(652px);
  display: flex;
  flex-direction: column;
  justify-content: center;  

  &--font-color--white {
    color: #fff;

    .section__title {
      color: inherit;
    }
  }
}

.headline {
  text-align: center;
  margin-bottom: rem(31px);

  &__title {
    margin-bottom: rem(9px);
  }

  &__subtitle {
    padding: 0 27%;

    @include phones {
      padding: 0 9%;
    }
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: rem(27px);
  color: $black;
  text-align: center;
}





