.socials__item {
  display: inline-block;
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: inline-block;
  text-decoration: none;
  width: rem(20px);
  height: rem(20px);
}

.vk, .fb, .inst, .tw {
  width: rem(20px);
  height: rem(20px);
}

.vk, .inst, .tw {
  fill: #B3B3B3;
}