.team {
  display: flex;
  justify-content: space-between;

  @include tablets {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}

.team--version--desktop {
  
  @include tablets {
    display: none;
  }
}

.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team--version--mobile .team__content {
  position: absolute;
  top: 100%;
}

.team--version--mobile {
  display: none;

  @include tablets {
    display: flex;
  }
}

.team--version--mobile .team__item {
  margin-bottom: rem(10px);
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: rem(220px);
  position: relative;

  @include tablets {
    flex: initial;
    margin-bottom: rem(35px);
    margin-right: 0;
  }

  &-active {
    .team__member-img {
      height: rem(290px);
      }

    .team__title {
     color: #FEDB3F;

      &::after {
      transform: rotate(180deg);
      margin-top: rem(5px);
      }
    } 
  } 
}   

.team__member {
  margin-bottom: rem(21px);

  &-img {
    height: rem(290px);
  }
}

.team__title {
  font-size: rem(21px);
  font-weight: 700;
  color: $black;
  background: #fff;
  border: none;
  margin-bottom: rem(8px);
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:after {
    content: "";
    height: 0;
    width: 0;
    border: rem(9px) solid transparent;
    border-top-color: #000;
    border-bottom-width: rem(0px);
    margin-left: rem(10px);
  }
}

.team__content {
  overflow: hidden;
  transition: height .3s;
  height: 0;

  &-block {
    display: flex;
    flex-direction: column;
  }

  &-text {
    font-size: rem(18px);
    font-weight: 300;
    color: #666;
  }
}

.team__occ {
  font-size: rem(18px);
  font-weight: 400;
  color: $black;
  margin-bottom: rem(4px);
}

